<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/19c75ae0-74ee-4179-b503-c77c9690aa0b/resourcegroups/Backend-SCAC20211118144335ResourceGroup/providers/Microsoft.Web/sites/Api-SCAC</ResourceId>
    <ResourceGroup>Backend-SCAC20211118144335ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://api-scac.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a25bf71f-4bc8-4a1e-aba7-a9d403e14189</ProjectGuid>
    <PublishUrl>https://api-scac.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Api-SCAC</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>